# IMPORT PANDAS

In [10]:
import pandas as pd

# Series

In [28]:
data = [10,20,30,40,50]
type(data)
pdata = pd.Series(data)
pdata

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [18]:
data = ("vinoth",'python','BCA','2017')
pdata = pd.Series(data)
pdata

0    vinoth
1    python
2       BCA
3      2017
dtype: object

In [22]:
type(pdata)

pandas.core.series.Series

In [25]:
data = {'name':"vinoth",'subject':'python','course':'BCA','year':'2017'}
pdata = pd.Series(data)
pdata

name       vinoth
subject    python
course        BCA
year         2017
dtype: object

In [26]:
list = ['santhosh','sql','bcom','2014']
list = pd.Series(list,index=['name','subject','course','year'])
list

name       santhosh
subject         sql
course         bcom
year           2014
dtype: object

In [27]:
list['year']

'2014'

# DataFrame

In [30]:
 data = {'name':["vinoth","santhosh","karthi","satishwaran"],"age":[26,25,34,29],"city":['chennai','chennai','madurai','theni'],'salary':[12000,23000,19000,11000]}
df = pd.DataFrame(data) 
df

          name  age     city  salary
0       vinoth   26  chennai   12000
1     santhosh   25  chennai   23000
2       karthi   34  madurai   19000
3  satishwaran   29    theni   11000

In [ ]:
#